<form class="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <h1 class="reset-password-form__title">{{ h1 }}</h1>
    <div class="reset-password-form__field">
        <label class="reset-password-form__label" for="reset-password-form__email">Informe seu e-mail:*</label>
        <input class="reset-password-form__input" type="email" id="reset-password-form__email"
            formControlName="userEmail" required />
    </div>
    <div class="reset-password-form__actions">
        <button class="reset-password-form__button" type="submit" [disabled]="!resetPasswordForm.valid">
            Enviar
        </button>
    </div>
    <div class="back-to-login">
        <a class="back-to-login__link" routerLink="/login">
            <span>Voltar</span>
        </a>
    </div>
</form>